* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
.center {
  text-align: center;
}
.my-item {
  text-align: center;
  padding: 5% 20%;
}
.my-slide-img {
  width: 300px;
  height: auto;
}
.my-height {
  width: 300px;
  height: 300px;
}
.bg-grey {
  background-color: grey;
  color: white;
  font-style: italic;
  font-weight: bolder;
}
/* footer */
.padding {
  padding-left: 0rem;
  padding-right: 0rem;
}
